*{
    font-family: Arial;
}
* {
    box-sizing: border-box;
  }

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(99, 42, 42);
    font-family: 'Delicious Handrawn', cursive;
}

h2, h3{
    color: rgb(99, 42, 42);
    font-family: 'Delicious Handrawn', cursive;

}

header{
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.Img1 {
    width: 50vw ;
}


body{
    background-color: rgb(207, 203, 144) ;
}

p{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
}



.Titulo{
    display: flex;
    align-items: center;
    text-align: center;
}


nav{
    height: 15vh;
    text-align: center;
    word-spacing: 150px;
    background-color: darkorange;
}

.navegador{
    align-items: center;

}


.boton{
    margin-top: 10vh;
    border: 10px tomato;
    font-size: 20px; 
    border-radius: 5px;
    background-color: burlywood;
    text-decoration: none;
}
.boton:hover {
    font-size: 23px;
    background-color: #0099cc;
  }

  body {
    padding: 20px;
  }
  
section{
    width: 60vw;
    height: 200vh;
}

aside{
    width: 30vw;
    height: 100vh;
    margin-left: 65vw;
    margin-top: -203vh;
    text-align: center;
}

.imagen1{
    border-radius: 0 80px 0 80px;
    width: 30vw;
    height: 40vh;
}

footer{
    margin: 40px;
    text-align: center;
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}


.Redes {
    margin-top: 10vh;
    animation: latidos 1.3s infinite;
    padding: 5vh;
    word-spacing: 100px;
}
.pie {
    margin-top: 50vh;
}

.subtitulocentrado{
    text-align: center;
    font-size: 30px;
    margin: 30px 0 30px 0;
}
/* Necesito que las imagenes y los items dejen un espacio y se acomoden en columna cuando disminuyo la pantalla */

.container{
    background-color: rgb(189, 144, 8);
    display: flex;
    width: 70vw;
    height: auto;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    margin:auto;
    align-items:center;
    text-align: center;
    text-decoration: none;   

    
}

.seccionescatalogo{
    display: flex;
    background-color: rgb(189, 144, 8);
    margin: 20px;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    height: 350px;
}

.containercatalogo{
    width: 100%;
    height: 50%;
    display: inline-flex;
    padding: 10px;
    background-color: rgb(169, 143, 64);
    justify-content: space-around;
}

.imagenescatalogo{
    margin: 10px;
    background-color: red;
    width: 15%;
    height: 90%;
    background-position: center;
    background-size: cover;
}

#ceramica-vajilla-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSitBAFyUhS1jLPSOEpP69rfkKgAH-mLw-Lww&usqp=CAU');
}

#ceramica-vajilla-2 {
    background-image: url('https://d2r9epyceweg5n.cloudfront.net/stores/001/213/168/products/snapseed-7611-6a0d8d8479c6e8abb216031313789942-1024-1024.jpg');
}

#ceramica-vajilla-3 {
    background-image: url('https://mymodernmet.com/wp/wp-content/uploads/2020/06/ceramic-cat-plates-taniko-ga-9.jpg');
}

#ceramica-vajilla-4 {
    background-image: url('https://ardeceramica.files.wordpress.com/2015/03/dscn12561.jpg');
}

#ceramica-vajilla-5 {
    background-image: url('https://http2.mlstatic.com/D_NQ_NP_716131-MLA44930536387_022021-V.jpg');
}

#ceramica-hogar-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxbK04XG23Y4FtqlDoKLeZE6s-XhthGXitqg&usqp=CAU');
}

#ceramica-hogar-2 {
    background-image: url('https://99centavos.smartycart.com.ar/slir/h270//files/product_image/image/46/194869/thumb_7223_image007.png');
}

#ceramica-hogar-3 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjdntmx4D_z5cYvW6-NcYIrPEwYu8VYMreTg&usqp=CAU');
}

#ceramica-hogar-4 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQK5utRoIjpAb-TRLN6pW5NNKdm68a6QknNoQ&usqp=CAU');
}

#ceramica-hogar-5 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSRoMCU9aSIovShYvUU6ll6BSoxwJz69JD9w&usqp=CAU');
}

#ceramica-juegos-1 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvyybvoAw79ZNiJHDY-8O3Jy5qv9R05whyjQ&usqp=CAU');
}

#ceramica-juegos-2 {
    background-image: url('https://2.bp.blogspot.com/-fBvknKfivjQ/T3raw5DfSMI/AAAAAAAAAuQ/9lrXg9j1POM/s1600/_MG_0195.JPG');
}

#ceramica-juegos-3 {
    background-image: url('https://i.ibb.co/9pHwPZJ/download.jpg');
}

#ceramica-juegos-4 {
    background-image: url('https://i.ibb.co/FHVvD6V/download-1.jpg');
}

#ceramica-juegos-5 {
    background-image: url('https://i.ibb.co/ZVmxfbf/download-2.jpg');
}

#crochet-amigurumis-1 {
    background-image: url('https://i.ibb.co/k2hsRXf/download.jpg') ;
}

#crochet-amigurumis-2 {
    background-image: url('https://i.ibb.co/1nXskYx/download-1.jpg') ;
}

#crochet-amigurumis-3 {
    background-image: url('https://www.lovelycraft.com/wp-content/uploads/2021/10/Lilo-y-Stitch-PDF-Amigurumi-Patron-Gratis.jpg') ;
}

#crochet-amigurumis-4 {
    background-image: url('https://i.ibb.co/gJsxZxc/download-2.jpg') ;
}

#crochet-amigurumis-5 {
    background-image: url('https://i.ibb.co/VxLZWx8/download-3.jpg') ;
}

#crochet-indumentaria-1 {
    background-image: url('https://i.pinimg.com/736x/2a/a0/c8/2aa0c8405a8e33d54503d9a90ed8e589--crochet-gloves-how-to-crochet.jpg') ;
}

#crochet-indumentaria-2 {
    background-image: url('https://i.ibb.co/Vq4L19B/download.jpg') ;
}

#crochet-indumentaria-3 {
    background-image: url('https://i.ibb.co/SrFV0xL/download-1.jpg') ;
}

#crochet-indumentaria-4 {
    background-image: url('https://www.handworkdiy.com/wp-content/uploads/2020/06/calcetines-crochet.jpg') ;
}

#crochet-indumentaria-5 {
    background-image: url('https://i.ibb.co/WzV0XHB/download-2.jpg') ;
}

#crochet-hogar-1 {
    background-image: url('https://2.bp.blogspot.com/-Az_qMNPTRr8/VcAqlzW3YpI/AAAAAAAAsXw/hdqs-W5C5wM/s1600/3.jpg') ;
}

#crochet-hogar-2 {
    background-image: url('https://i.ibb.co/44c9hJ5/download.jpg') ;
}

#crochet-hogar-3 {
    background-image: url('https://i.ibb.co/P90gjBd/download-1.jpg') ;
}

#crochet-hogar-4 {
    background-image: url('https://i.ibb.co/wC4RrRg/download-2.jpg') ;
}

#crochet-hogar-5 {
    background-image: url('https://i.ibb.co/FmZS9YN/download-3.jpg') ;
}



.ref{
    font-size: 18px;
    background-color: bisque;
    border-radius: 5px;
}
.ref:hover {
    font-size: 20px;
    background-color:  #0099cc;
}


.item{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 5% 5% 5% 5%;
}
.item img{
    width: 95%;
    border-radius: 5%;
    border: solid 2px orange;
}

.item img:hover{
    width: 110%;
    border: solid 8px orange;
}
    header{
        flex-direction: column;
        display: column;
        flex-wrap: nowrap;
    }

.campo{
    background-color: rgb(236, 232, 210);
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
