*{
    margin: none;
    font-family: Arial;
}
* {
    box-sizing: border-box;
  }

h1 {
    font-size: 50px;
    text-align: center;
}

h1, h2, h3{
    color: rgb(99, 42, 42);
    font-family: 'Delicious Handrawn', cursive;

}

header{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Logo1 {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 100%;
    width: 100%;
    height: 30vw;
  }
  
  .Portada1 {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
    width: 45%;
  }


body{
    background-color: rgb(207, 203, 144) ;
}

p{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
}

.Titulo{
    display: flex;
    align-items: center;
    text-align: center;
}

nav{
    display: flex;
    text-align: center;
    word-spacing: 150px;
    background-color: burlywood;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  nav a:hover {
    background-color: #ddd;
    color: black;
  }

.boton{
    border: 10px tomato  
    
}
.boton:hover {
    background-color: #0099cc;
  }

footer{
    margin: 40px;
    text-align: center;
}

.Redes{
    word-spacing: 100px;
    
}

.container{
    background-color: rgb(189, 144, 8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
/* Necesito que las imagenes y los items dejen un espacio y se acomoden en columna cuando disminuyo la pantalla */

@media (max-width: 600px)

{
    .container {
      flex-direction: column;
    }
  }
    .item{
    background-color: rgb(114, 90, 0);
    text-align: center;
    border-style: dashed;
}
    header{
        flex-direction: column;
        display: column;
        flex-wrap: nowrap;
    }
    .Logo1, .Portada1 {
        flex: 100%;
      }

.campo{
    background-color: rgb(236, 232, 210);
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
