*{
    font-family: Arial;
}
* {
    box-sizing: border-box;
  }

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(99, 42, 42);
    font-family: 'Delicious Handrawn', cursive;
}

h2, h3{
    color: rgb(99, 42, 42);
    font-family: 'Delicious Handrawn', cursive;

}

header{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .Logo1 {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 100%;
    width: 100%;
    height: 30vw;
  }
  
  .Portada1 {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
    width: 45%;
  }


body{
    background-color: rgb(207, 203, 144) ;
}

p{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
}

.Img1 { 
        margin-right: 10px; /* Ajusta el margen derecho de la imagen */
}

.Titulo{
    display: flex;
    align-items: center;
    text-align: center;
}

nav{
    display: flex;
    text-align: center;
    word-spacing: 150px;
    background-color: orange;
    padding: 2% 2% 2% 2%;
}

.boton{
    border: 10px tomato  
    
}
.boton:hover {
    background-color: #0099cc;
  }

footer{
    margin: 40px;
    text-align: center;
}

.Redes{
    word-spacing: 100px;
    
}

.subtitulocentrado{
    text-align: center;
    font-size: 30px;
    margin: 30px 0 30px 0;
}
/* Necesito que las imagenes y los items dejen un espacio y se acomoden en columna cuando disminuyo la pantalla */

.container{
    background-color: rgb(189, 144, 8);
    display: flex;
    width: 70vw;
    height: 150vh;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    margin:auto
    
    
}
.item{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin: 5% 5% 5% 5%;
}
.item img{
    width: 95%;
    border-radius: 5%;
    border: solid 2px orange;
}

.item img:hover{
    width: 110%;
    border: solid 8px orange;
}
    header{
        flex-direction: column;
        display: column;
        flex-wrap: nowrap;
    }
    .Logo1, .Portada1 {
        flex: 100%;
      }

.campo{
    background-color: rgb(236, 232, 210);
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
